# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
data/mta_timeseries_combined.csv
data/MTA_Subway_Hourly_Ridership.csv
data/mta_timeseries_combined.csv
data/MTA_Subway_Hourly_Ridership.csv
data/dmrc_timeseries_combined.csv
data/mta_timeseries_combined.csv
data/MTA_Subway_Hourly_Ridership.csv
data/dmrc_timeseries_combined.csv
data/mta_timeseries_combined.csv
data/MTA_Subway_Hourly_Ridership.csv
